.students{
  font-family: 'Raleway', sans-serif;
  width: 900px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 16%;
  left: 21%;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.name{
  font-weight: 900;
}
